

<%- include('_layouts/header') -%>

<link rel="stylesheet" href="/css/allcategories.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

<h1>Dairy Products</h1>
<div class="row products">


    
   
    <% dairy.forEach(function(products){ %>
    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/<%= products.image%>" alt="hello">
        </a>
        <h3><%= products.name%></h3>
        
        <h4>Price:-<%= products.price%>rs</h4>
       
        <button data-products="<%= JSON.stringify(products)%>" class="add-to-cart"><span>Add to cart</span><span>+</span></button>


        <!-- data-products="products" ====> this is our object -->
        <!-- we need to convert this to string so use json for that and at client side make that as object again -->
         <!-- <a class="vd " href="#"> -->
        <!-- </a> -->
    </div>

    <% }) %>
     
</div>

<script src="/js/dairry.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

<%- include('_layouts/footer') -%>